@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

body {
    font-family: 'NanumSquare', sans-serif;
    font-weight: bold;
}

.container-lg {
    padding-left : 1rem;
}

.container-sm {
    max-width: 540px;
}

.navbar-brand {
    font-weight: bolder;
}

h2 {
    font-weight: bolder;
}

aside {
    float: right;
}

.card-img-top {
    height: 12rem;
    background-color: rgb(134, 142, 150);
}

.card {
    width: 18rem;
}

#btn-prob-calc {
    width: 100%;
    margin-bottom: 15px;
}

#prob-calc-result p {
    animation: glow .2s alternate;
}

@keyframes glow {
    to {
        background-color: var(--bs-border-color-translucent);
    }
}